<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!-- install as launchagent.
cp local.g213-led.plist ~/Library/LaunchAgents
launchctl load -w ~/Library/LaunchAgentslocal.g213-led.plist
you still have to add g213-led to sudo NOPASSWD to skip it asking for a password
-->
	<key>Label</key>
	<string>local.g213-led</string>
	<key>ProcessType</key>
	<string>Standard</string>
	<key>ProgramArguments</key>
    <array>
	    <string>/usr/bin/sudo</string>
		<string>/usr/local/bin/g213-led</string>
        <string>-a</string>
        <string>ffffff</string> <!-- white -->
    </array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
</dict>
</plist>
